@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main>
    <section class="about-us">
        <h2>Who We Are</h2>
        <p>At The USF Bulls Bookstore, we're a team of passionate bookworms dedicated to fostering a love of reading. We believe that books have the power to transport you to new worlds, ignite your imagination, and broaden your horizons. Our carefully chosen selection caters to a diverse range of readers, from seasoned bibliophiles to those just starting their literary journey.</p>
        <p>We understand the joy of curling up with a good book and the satisfaction of discovering a hidden gem. Our mission is to be your one-stop shop for all things bookish, offering a welcoming space to browse, discover, and connect with other book lovers.</p>
        <h3>Our Team</h3>
        <section class="team">
            <article>
                <img src="~/images/animesh.jpg">
                <h4>Animesh Bhawtankar</h4>
                <p>Data Analyst</p>
                <p>Animesh focused on the overall "Browse Books" page, specifically refining the layout and styling of the book tables to ensure a polished and user-friendly experience. His efforts were geared towards improving the overall aesthetic appeal and functionality of the page, ensuring that users can easily navigate and explore books according to their preferred genres.</p>
                <a href="https://github.com/tanuj1080/Assignment-3/commits/main/?author=Animesh-Bhawtankar">Git Commit History</a>
            </article>
            <article>
                <img src="~/images/abhiram.jpg">
                <h4>Abhiram Chada</h4>
                <p>Business Analyst</p>
                <p>Abhiram has expertly designed a user-centric reviews page for this website, where visitors can seamlessly navigate, post, and manage book reviews. With interactive green-to-black buttons and a clear, inviting layout, reviews page enhances the community-driven experience at Bulls Bookstore.</p>
                <a href="https://github.com/tanuj1080/Assignment-3/commits/main/?author=archada44">Git Commit History</a>
            </article>
            <article>
                <img src="~/images/tanuj.jpg">
                <h4>Tanuj Singh</h4>
                <p>DevOps Engineer</p>
                <p>
                    Tanuj was involved in developing the website's architecture, specifically focusing on designing a trending page. This page incorporates Chart.js to dynamically display graphical data, allowing for interactive and visually appealing presentations of trends. Additionally, Tanuj implemented responsive design elements to ensure the page performs well across various devices and screen sizes. The backend logic was optimized to enhance loading speeds and improve the overall user experience.
                </p>
                <a href="https://github.com/tanuj1080/Assignment-3/commits/main/?author=tanuj1080">Git Commit History</a>
            </article>
            <article>
                <img src="~/images/amolika.jpg">
                <h4>Amolika Anand Godse</h4>
                <p>Cybersecurity Analyst</p>
                <p>Amolika has contributed significantly to shaping the foundation of our website's functionality by developing comprehensive Entity-Relationship Diagrams (ERD) and meticulously crafting data models. This ensures that our website operates seamlessly, delivering an optimal user experience. Additionally, I've leveraged my expertise in CSS and HTML to meticulously style and design the captivating 'About Us' page, bringing our brand's story to life with a visually appealing and informative touch."</p>
                <a href="https://github.com/tanuj1080/Assignment-3/commits/main/?author=Amolika1709">Git Commit History</a>
            </article>

        </section>
    </section>
    <section class="about-us">
        <h2>Source Code of the Project</h2>
        <li><a href="https://github.com/tanuj1080/Assignment-3">GITHUB</a></li>
    </section>
    <section class="about-us">
        <h2>Entity-Relationship Diagram (ERD)</h2>
        <img src="~/images/ERD.png" alt="Entity-Relationship Diagram">
    </section>
</main>