@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2 class="page-title">Explore Metrics Related to Books</h2>
    <div class="charts-container">
        <div class="chart-container">
            <canvas id="trendingBooksChart" class="chart"></canvas>
        </div>
        <div class="chart-container">
            <canvas id="salesChart" class="chart"></canvas>
        </div>
        <div class="chart-container">
            <canvas id="genrePieChart" class="chart"></canvas>
        </div>
        <div class="chart-container">
            <canvas id="readerDemographics" class="chart"></canvas>
        </div>
        <div class="chart-container">
            <canvas id="userEngagementChart" class="chart"></canvas>
        </div>
        <div class="chart-container">
            <canvas id="annualSalesChart" class="chart"></canvas>
        </div>
    </div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
    <script src="~/js/site.js"></script>
}